@use '~@angular/material' as mat;

@include mat.core();

$fdx-primary: mat.define-palette(mat.$indigo-palette, 500);
$fdx-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);

$fdx-warn: mat.define-palette(mat.$red-palette);

$fdx-theme: mat.define-light-theme((
  color: (
    primary: $fdx-primary,
    accent: $fdx-accent,
    warn: $fdx-warn,
  )
));

@include mat.button-theme($fdx-theme);
@include mat.input-theme($fdx-theme);
@include mat.form-field-theme($fdx-theme);
@include mat.progress-spinner-theme($fdx-theme);
@include mat.dialog-theme($fdx-theme);

@include mat.core-theme($fdx-theme);

html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
